<!DOCTYPE html>
<% const {
  title, bodyClass, withBreadcrumbs, withFilters, withRestaurantContainers, apiKey
} = htmlWebpackPlugin.options; %>
<% const { css, js } = htmlWebpackPlugin.files; %>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="<%= css %>">
    <script defer src="<%= js %>" type="module"></script>
    <script defer
            src="<%= `https://maps.googleapis.com/maps/api/js?key=${apiKey}&libraries=places&callback=initMap` %>">
    </script>
  </head>
  <body class="<%= bodyClass ? bodyClass : 'page' %>">
    <header class="header">
      <nav class="header__nav">
        <h1 class="header__title">
          <a href="/" class="header__link">Restaurant Reviews</a>
        </h1>
      </nav>
      <% if (withBreadcrumbs) { %>
        <ul class="breadcrumbs js-breadcrumbs">
          <li>
            <a href="/">Home</a>
          </li>
        </ul>
      <% } %>
    </header>

    <main class="main">
      <% if (withFilters) { %>
        <nav class="filters">
          <label class="filters__label">
            <span class="filters__text">Choose neighborhood:</span>
            <select name="neighborhoods" class="filters__select js-neighborhoods">
              <option value="all">All Neighborhoods</option>
            </select>
          </label>
          <label class="filters__label">
            <span class="filters__text">Choose cuisine:</span>
            <select name="cuisines" class="filters__select js-cuisines">
              <option value="all">All Cuisines</option>
            </select>
          </label>
        </nav>
      <% } %>
      <section class="map-container">
        <div class="map js-map"></div>
      </section>
      <% if (withFilters) { %>
        <ul class="restaurants-list js-restaurants"></ul>
      <% } %>
      <% if (withRestaurantContainers) { %>
        <section class="restaurant-container js-restaurant-container">
          <h1 class="restaurant-name js-restaurant-name"></h1>
          <img src="/" alt="Restaurant image" class="restaurant-image js-restaurant-image">
          <p class="restaurant-cuisine js-restaurant-cuisine"></p>
          <p class="restaurant-address js-restaurant-address"></p>
          <table class="restaurant-hours js-restaurant-hours"></table>
        </section>
        <section class="reviews-container js-reviews-container">
          <ul class="reviews-list js-reviews-list"></ul>
        </section>
      <% } %>
    </main>

    <footer class="footer">
      Copyright (c) 2017 <a href="/"><strong>Restaurant Reviews</strong></a> All Rights Reserved.
    </footer>
  </body>
</html>
