.filters {
  padding: 0 var(--gap-horizontal);
  background-color: var(--color-blue-dark);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (min-width: var(--breakpoint-md)) {
  .filters {
    justify-content: center;
  }
}

.filters__label {
  display: inline-block;
  vertical-align: top;
  margin: calc(var(--gap-vertical) / 2) var(--gap-horizontal)
    calc(var(--gap-vertical) / 2) 0;
  font-size: 15px;
  color: var(--color-white);
  flex: 0;
}

@media (min-width: var(--breakpoint-md)) {
  .filters__label {
    white-space: nowrap;
  }
}

.filters__label:last-child {
  margin-right: 0;
}

.filters__text {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin-bottom: 5px;
}

@media (min-width: var(--breakpoint-md)) {
  .filters__text {
    vertical-align: middle;
    width: auto;
    margin-bottom: 1px;
    margin-right: 5px;
  }
}

.filters__select {
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
  font-family: var(--font-family);
  font-size: 16px;
  height: 35px;
  letter-spacing: 0;
}
