.header {
  background-color: var(--color-black);
  padding: 0 var(--gap-horizontal);
}

.header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100%;
}

.header__title {
  margin: calc(var(--gap-vertical) / 2) 0;
  text-align: center;
}

.header__link {
  color: var(--color-white);
  font-size: 18px;
  font-weight: normal;
  line-height: 1.25;
  letter-spacing: 10px;
  text-transform: uppercase;
}
