.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-black);
  padding: 0 var(--gap-horizontal);
}

.nav__title {
  margin: calc(var(--gap-vertical) / 2) 0;
  text-align: center;
}

.nav__link {
  color: var(--color-white);
  font-size: 18px;
  font-weight: normal;
  line-height: 1.25;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.nav__offline {
  width: 100%;
  color: var(--color-red);
  font-size: 16px;
  text-align: center;
  position: fixed;
  background-color: var(--color-black);
  padding: 20px;
  z-index: 1;
  margin: 0;
  top: 0;
  left: 0;
  box-sizing: border-box;
}
